<div class="footer">
  <div class="address">
    <div style="display: flex;">
      <i class='fas fa-shoe-prints' style="margin-right: 10px;margin-top: 5px;font-size: 25px;"></i>
      <p>21 Revolution Street<br>
        <span style="font-weight: bold;">Paris,France</span></p>
    </div>
    <p><i class="fa fa-phone" style="font-size: 25px;"></i> +1 555 123456</p>
    <a href="#"><i class="fa fa-envelope" style="font-size: 25px;margin-right: 10px;"></i> support@company.com</a>
  </div>
  <div class="about">
    <p style="font-weight: bold;">About the company</p>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quidem sint fugit voluptatem magni dolorem vel repellat quae officia libero modi natus ducimus quisquam tempore adipisci earum quas, at ratione?</span>
  </div>
</div>
