.bill {
    padding: 20px;
}
.cart {
    padding: 20px;
}

.btnBill {
    border-top: none !important;
    border-left: none !important;
    border-right:  none !important;
    background-color: rgba(40, 153, 40, 0.719);
    color: white;
}

.lineofdiscount {
    width: 100px;
    height: 3px;
    background-color: rgb(109, 109, 109);
}

.orderyour {
   
    max-width: 300px;
    padding: 5px;
}