.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.callParag {
    
    padding-left: 27px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0px !important;
    color: grey;
    font-size: 12px;
}

.sportswearline {
    width: 150px;
    margin: auto;
    height: 2px;
    background-color: grey;
}