.fa {
    font-size: 30px;
    color: black;
    position: relative;

    span {
        position: absolute;
        top: 0;
        font-size: 12px;
        
    }
}

.added {
    color: grey;
}
.removed {
    color: crimson;
    transform: scale(1.1);
}


.dropdownlogged {
    margin-right: 10px;
}

.logout {
    cursor: pointer;
}


.mainimg {
    width: 200px;
    display: block;
    margin: auto;
}

.fa-heart-o {
    margin-left: 10px;
    color: grey;
}